.button-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;

  @media (min-width: 768px) {
    width: auto;
  }

  span {
    font-weight: 500;
    font-size: var(--font-size-small);
    color: var(--accent-color);
    text-transform: uppercase;
    margin-top: 15px;

    @media (min-width: 768px) {
      margin-top: 20px;
    }

    @media (min-width: 992px) {
      margin-top: 25px;
    }
  }
}

.button {
  color: var(--neutral-color);
  font-size: var(--font-size-button);
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: var(--button-padding);
  border: none;
  border-radius: 6px;
  background-color: var(--accent-color);
  outline: none;
  transition: var(--transition-all);
  cursor: pointer;

  &:hover, &:active {
    background-color: var(--accent-color-hover);
  }

  @media (min-width: 768px) {
    width: unset;
  }
}

.timer {
  background: #2D2D2D;
  display: flex;
  border-radius: 20px;

  .timer-side {
    width: 50%;
    padding: var(--timer-side-padding);
    text-align: center;

    &:first-child {
      border-right: 1px solid #414141;
    }
  }

  .timer-count {
    font-size: var(--h2-font-size);
    line-height: 120%;
    font-weight: 700;
    color: var(--accent-color);
  }

  .timer-title {
    font-weight: 700;
    font-size: var(--font-size-timer-title);
    line-height: 100%;
    color: #838383;
  }
}

.section-title {
  font-weight: 700;
  font-size: var(--h2-font-size);
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.block-date {
  font-weight: 700;
  font-size: var(--h3-font-size);
  line-height: 120%;
  text-align: center;
  display: inline-block;
  padding: 9px 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: rgba(245, 223, 21, 0.38);

  @media (min-width: 768px) {
    margin-top: 30px;
    margin-bottom: 50px;
  }

  @media (min-width: 992px) {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.damage-list {
  margin: 0;

  dt {
    font-size: var(--h3-font-size);
    font-weight: 700;
    color: var(--accent-color);
  }

  dd {
    font-size: var(--font-size-small);
    font-weight: 700;
    margin: 0 0 20px 0;

    @media (min-width: 768px) {
      margin: 0 0 40px 0;
      &:last-child {
        margin: 0;
      }
    }
  }
}

.phone-link {
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  font-size: var(--font-size-phone-link);
  color: var(--accent-color);
  margin-bottom: 10px;
}

