.header {
  position: absolute;
  top: 0;
}

.burger-button {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: var(--burger-button-size);
  height: var(--burger-button-size);
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  outline: none;
  background: #373737;
  z-index: 10;
}

.burger-button span {
  position: absolute;
  width: calc(var(--burger-button-size) / 2);
  height: 2px;
  background-color: var(--base-color);
  top: 35%;
  left: 25%;
  transition: opacity 0.5s, bottom 0.2s 0.2s, top 0.2s 0.2s, transform 0.2s 0.2s;
}

.burger-button.is-active span:nth-child(1) {
  top: calc(50% - 1px);
  transform: rotate(3645deg);
  transform-origin: center;
}

.burger-button span:nth-child(2) {
  top: calc(50% - 1px);
}

.burger-button.is-active span:nth-child(2) {
  opacity: 0;
  transform: rotateY(90deg);
}

.burger-button span:nth-child(3) {
  top: unset;
  bottom: 35%;
}

.burger-button.is-active span:nth-child(3) {
  bottom: calc(50% - 1px);
  transform: rotate(-3645deg);
  transform-origin: center;
}

.burger-menu {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 0;
  margin: 0;
  padding: 0;
  top: var(--header-height);
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.64);
  overflow: hidden;
  transition: height 0.5s;

  .burger-nav-item {
    opacity: 0;
    transition: all 0.5s;
  }

  &.is-open {
    width: 100%;
    overflow: visible;

    .burger-nav-item {
      opacity: 1;
    }
  }
}

.burger-header-navigation {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 100px 10px 10px 10px;
  background: #000000;

  @media (min-width: 768px) {
    width: 100%;
    max-width: 375px;
    padding: 150px 0 10px 30px;
  }

  .burger-nav-item {
    color: var(--base-color);
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    margin: 0 0 20px;
    font-size: 20px;

    @media (min-width: 768px) {
      font-size: 24px;
      margin: 0 0 30px;
    }

    &:hover {
      color: var(--accent-color);
    }
  }
}
