.hero-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/city.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}

.hero-block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  margin: 20px 0 50px;

  @media (min-width: 768px) {
    margin: 20px 0 70px;
  }
}

section.section-bordered {
  border-bottom: 2px solid #323232;
}

.description {
  padding: 0;
  font-weight: 500;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
    padding: 0;
  }

  @media (min-width: 992px) {
    margin-bottom: 70px;
    padding: 0 100px;
  }
}

.block-bordered {
  border: 2px solid #F5DF15;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;

  @media (min-width: 768px) {
    border-radius: 30px;
    margin-bottom: 50px;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
  }

  @media (min-width: 992px) {
    margin-bottom: 70px;
  }

  .block-bordered-side {
    font-size: var(--font-size-small);
    padding: 10px;
    margin: 0;

    @media (min-width: 768px) {
      padding: 40px 15px 40px 40px;
    }

    @media (min-width: 992px) {
      padding: 50px 40px 50px 100px;
    }

    &.is-right {
      padding: 10px;

      @media (min-width: 768px) {
        padding: 40px 40px 40px 15px;
      }

      @media (min-width: 992px) {
        padding: 50px 100px 50px 40px;
      }
    }
  }
}

.img-description {
  margin-top: 25px;
  margin-bottom: 30px;

  @media (min-width: 768px) {
    margin-top: 50px;
    margin-bottom: 50px;
  }

  @media (min-width: 992px) {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}

i.footnote {
  font-size: var(--font-size-small);
  color: var(--accent-color);
  margin: 30px 0;
}

.damage-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  i.footnote {
    display: none;

    @media (min-width: 992px) {
      display: block;
    }
  }
}

.damage-description {
  margin-bottom: 50px;

  @media (min-width: 768px) {
    margin-bottom: 50px;
  }

  @media (min-width: 992px) {
    margin-bottom: 120px;
  }
}

.damage-button-block {
  margin-top: 30px;

  @media (min-width: 768px) {
    margin-top: 50px;
  }

  @media (min-width: 992px) {
    margin-top: 100px;
  }
}

.save-live-description {
  margin: 30px 0 20px;
  padding: 0;
}

.contact {

  h3 {
    margin: 30px 0;
  }
}

.phone-block {

  @media (min-width: 992px) {
    display: flex;
  }

  i {
    display: block;
    font-size: var(--font-size-small);
    margin-bottom: 30px;

    @media (min-width: 992px) {
      margin-bottom: 0;
      margin-right: 100px;
    }
  }

  span {
    display: inline-grid;

    @media (min-width: 992px) {
      display: block;
    }
  }
}

.contact-img-wrapper {
  margin: 50px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  @media (min-width: 992px) {
    margin: 0 0 0 50px;
    height: 100%;
  }

  img {
    width: 100%;
    object-fit: cover;
    object-position: center;

    @media (min-width: 992px) {
      width: 100%;
      height: 100%;
    }
  }
}

.save-live-button-block {
  margin-top: 30px;

  @media (min-width: 992px) {
    margin-top: 80px;
  }
}


