:root {
  --step: 8px;

  --base-color: #ffffff;
  --second-color: #1A1A1A;
  --neutral-color: #191919;
  --accent-color: #F5DF15;
  --accent-color-hover: #fae162;

  --transition-all: all 0.4s;

  --h2-font-size: 30px;
  --h3-font-size: 18px;
  --font-size-button: 16px;
  --font-size: 14px;
  --font-size-small: 14px;
  --font-size-timer-title: 16px;
  --font-size-phone-link: 16px;

  --burger-button-size: 30px;
  --button-padding: 12px 30px;
  --timer-side-padding: 20px 50px;

  @media (min-width: 768px) {
    --h2-font-size: 45px;
    --h3-font-size: 30px;
    --font-size-button: 20px;
    --font-size: 20px;
    --font-size-small: 16px;
    --font-size-timer-title: 22px;
    --font-size-phone-link: 20px;

    --burger-button-size: 50px;
    --button-padding: 18px 60px;
    --timer-side-padding: 20px 60px;
  }

  @media (min-width: 992px) {
    --h2-font-size: 45px;
    --h3-font-size: 30px;
    --font-size-button: 20px;
    --font-size: 20px;
    --font-size-small: 16px;
    --font-size-timer-title: 22px;
    --font-size-phone-link: 20px;

    --burger-button-size: 50px;
    --button-padding: 18px 60px;
    --timer-side-padding: 20px 60px;
  }

  @media (min-width: 1400px) {
    --h2-font-size: 60px;
    --h3-font-size: 35px;
    --font-size-button: 24px;
    --font-size: 24px;
    --font-size-small: 18px;
    --font-size-timer-title: 26px;
    --font-size-phone-link: 20px;

    --burger-button-size: 60px;
    --button-padding: 18px 60px;
    --timer-side-padding: 20px 75px;
  }
}
