@import "_normalize.css";
@import "_bootstrap-grid.css";
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-MediumItalic.eot");
  src: local("Montserrat Medium Italic"), local("Montserrat-MediumItalic"), url("../fonts/Montserrat-MediumItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-MediumItalic.woff") format("woff"), url("../fonts/Montserrat-MediumItalic.ttf") format("truetype");
  font-weight: 500;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-BoldItalic.eot");
  src: local("Montserrat Bold Italic"), local("Montserrat-BoldItalic"), url("../fonts/Montserrat-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-BoldItalic.woff") format("woff"), url("../fonts/Montserrat-BoldItalic.ttf") format("truetype");
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Italic.eot");
  src: local("Montserrat Italic"), local("Montserrat-Italic"), url("../fonts/Montserrat-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Italic.woff") format("woff"), url("../fonts/Montserrat-Italic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: local("Montserrat Bold"), local("Montserrat-Bold"), url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: local("Montserrat Medium"), local("Montserrat-Medium"), url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
:root {
  --step: 8px;
  --base-color: #ffffff;
  --second-color: #1A1A1A;
  --neutral-color: #191919;
  --accent-color: #F5DF15;
  --accent-color-hover: #fae162;
  --transition-all: all 0.4s;
  --h2-font-size: 30px;
  --h3-font-size: 18px;
  --font-size-button: 16px;
  --font-size: 14px;
  --font-size-small: 14px;
  --font-size-timer-title: 16px;
  --font-size-phone-link: 16px;
  --burger-button-size: 30px;
  --button-padding: 12px 30px;
  --timer-side-padding: 20px 50px;
}
@media (min-width: 768px) {
  :root {
    --h2-font-size: 45px;
    --h3-font-size: 30px;
    --font-size-button: 20px;
    --font-size: 20px;
    --font-size-small: 16px;
    --font-size-timer-title: 22px;
    --font-size-phone-link: 20px;
    --burger-button-size: 50px;
    --button-padding: 18px 60px;
    --timer-side-padding: 20px 60px;
  }
}
@media (min-width: 992px) {
  :root {
    --h2-font-size: 45px;
    --h3-font-size: 30px;
    --font-size-button: 20px;
    --font-size: 20px;
    --font-size-small: 16px;
    --font-size-timer-title: 22px;
    --font-size-phone-link: 20px;
    --burger-button-size: 50px;
    --button-padding: 18px 60px;
    --timer-side-padding: 20px 60px;
  }
}
@media (min-width: 1400px) {
  :root {
    --h2-font-size: 60px;
    --h3-font-size: 35px;
    --font-size-button: 24px;
    --font-size: 24px;
    --font-size-small: 18px;
    --font-size-timer-title: 26px;
    --font-size-phone-link: 20px;
    --burger-button-size: 60px;
    --button-padding: 18px 60px;
    --timer-side-padding: 20px 75px;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: var(--step);
  height: 100%;
}

body {
  font-size: var(--font-size);
  line-height: 150%;
  font-family: "Montserrat", Source Sans Pro, -apple-system, Segoe UI, Roboto, Helvetica Neue, Arial, sans-serif;
  background-color: var(--second-color);
  color: var(--base-color);
}

h2 {
  margin: 0;
  line-height: 120%;
}

h3 {
  font-size: var(--h3-font-size);
  line-height: 120%;
  margin: 0;
}

p {
  font-size: var(--font-size-small);
}

section {
  padding-top: 50px;
  padding-bottom: 50px;
}
@media (min-width: 768px) {
  section {
    padding-top: 100px;
    padding-bottom: 100px;
  }
}
@media (min-width: 1200px) {
  section {
    padding-top: 120px;
    padding-bottom: 150px;
  }
}

.button-block {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
@media (min-width: 768px) {
  .button-block {
    width: auto;
  }
}
.button-block span {
  font-weight: 500;
  font-size: var(--font-size-small);
  color: var(--accent-color);
  text-transform: uppercase;
  margin-top: 15px;
}
@media (min-width: 768px) {
  .button-block span {
    margin-top: 20px;
  }
}
@media (min-width: 992px) {
  .button-block span {
    margin-top: 25px;
  }
}

.button {
  color: var(--neutral-color);
  font-size: var(--font-size-button);
  font-weight: 700;
  line-height: normal;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  width: 100%;
  padding: var(--button-padding);
  border: none;
  border-radius: 6px;
  background-color: var(--accent-color);
  outline: none;
  transition: var(--transition-all);
  cursor: pointer;
}
.button:hover, .button:active {
  background-color: var(--accent-color-hover);
}
@media (min-width: 768px) {
  .button {
    width: unset;
  }
}

.timer {
  background: #2D2D2D;
  display: flex;
  border-radius: 20px;
}
.timer .timer-side {
  width: 50%;
  padding: var(--timer-side-padding);
  text-align: center;
}
.timer .timer-side:first-child {
  border-right: 1px solid #414141;
}
.timer .timer-count {
  font-size: var(--h2-font-size);
  line-height: 120%;
  font-weight: 700;
  color: var(--accent-color);
}
.timer .timer-title {
  font-weight: 700;
  font-size: var(--font-size-timer-title);
  line-height: 100%;
  color: #838383;
}

.section-title {
  font-weight: 700;
  font-size: var(--h2-font-size);
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .section-title {
    margin-bottom: 30px;
  }
}

.block-date {
  font-weight: 700;
  font-size: var(--h3-font-size);
  line-height: 120%;
  text-align: center;
  display: inline-block;
  padding: 9px 30px;
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 6px;
  background-color: rgba(245, 223, 21, 0.38);
}
@media (min-width: 768px) {
  .block-date {
    margin-top: 30px;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .block-date {
    margin-top: 30px;
    margin-bottom: 0;
  }
}

.damage-list {
  margin: 0;
}
.damage-list dt {
  font-size: var(--h3-font-size);
  font-weight: 700;
  color: var(--accent-color);
}
.damage-list dd {
  font-size: var(--font-size-small);
  font-weight: 700;
  margin: 0 0 20px 0;
}
@media (min-width: 768px) {
  .damage-list dd {
    margin: 0 0 40px 0;
  }
  .damage-list dd:last-child {
    margin: 0;
  }
}

.phone-link {
  font-style: italic;
  font-weight: 700;
  text-decoration: none;
  font-size: var(--font-size-phone-link);
  color: var(--accent-color);
  margin-bottom: 10px;
}

.header {
  position: absolute;
  top: 0;
}

.burger-button {
  display: block;
  position: fixed;
  top: 10px;
  right: 10px;
  width: var(--burger-button-size);
  height: var(--burger-button-size);
  cursor: pointer;
  border: 0;
  border-radius: 50%;
  outline: none;
  background: #373737;
  z-index: 10;
}

.burger-button span {
  position: absolute;
  width: calc(var(--burger-button-size) / 2);
  height: 2px;
  background-color: var(--base-color);
  top: 35%;
  left: 25%;
  transition: opacity 0.5s, bottom 0.2s 0.2s, top 0.2s 0.2s, transform 0.2s 0.2s;
}

.burger-button.is-active span:nth-child(1) {
  top: calc(50% - 1px);
  transform: rotate(3645deg);
  transform-origin: center;
}

.burger-button span:nth-child(2) {
  top: calc(50% - 1px);
}

.burger-button.is-active span:nth-child(2) {
  opacity: 0;
  transform: rotateY(90deg);
}

.burger-button span:nth-child(3) {
  top: unset;
  bottom: 35%;
}

.burger-button.is-active span:nth-child(3) {
  bottom: calc(50% - 1px);
  transform: rotate(-3645deg);
  transform-origin: center;
}

.burger-menu {
  display: flex;
  justify-content: flex-end;
  height: 100vh;
  width: 0;
  margin: 0;
  padding: 0;
  top: var(--header-height);
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.64);
  overflow: hidden;
  transition: height 0.5s;
}
.burger-menu .burger-nav-item {
  opacity: 0;
  transition: all 0.5s;
}
.burger-menu.is-open {
  width: 100%;
  overflow: visible;
}
.burger-menu.is-open .burger-nav-item {
  opacity: 1;
}

.burger-header-navigation {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 100px 10px 10px 10px;
  background: #000000;
}
@media (min-width: 768px) {
  .burger-header-navigation {
    width: 100%;
    max-width: 375px;
    padding: 150px 0 10px 30px;
  }
}
.burger-header-navigation .burger-nav-item {
  color: var(--base-color);
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0 0 20px;
  font-size: 20px;
}
@media (min-width: 768px) {
  .burger-header-navigation .burger-nav-item {
    font-size: 24px;
    margin: 0 0 30px;
  }
}
.burger-header-navigation .burger-nav-item:hover {
  color: var(--accent-color);
}

.hero-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: url("../images/city.jpg");
  background-repeat: no-repeat;
  background-clip: border-box;
  background-size: cover;
}

.hero-block-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer {
  margin: 20px 0 50px;
}
@media (min-width: 768px) {
  .timer {
    margin: 20px 0 70px;
  }
}

section.section-bordered {
  border-bottom: 2px solid #323232;
}

.description {
  padding: 0;
  font-weight: 500;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .description {
    margin-bottom: 50px;
    padding: 0;
  }
}
@media (min-width: 992px) {
  .description {
    margin-bottom: 70px;
    padding: 0 100px;
  }
}

.block-bordered {
  border: 2px solid #F5DF15;
  border-radius: 15px;
  margin-bottom: 30px;
  margin-right: 10px;
  margin-left: 10px;
}
@media (min-width: 768px) {
  .block-bordered {
    border-radius: 30px;
    margin-bottom: 50px;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
  }
}
@media (min-width: 992px) {
  .block-bordered {
    margin-bottom: 70px;
  }
}
.block-bordered .block-bordered-side {
  font-size: var(--font-size-small);
  padding: 10px;
  margin: 0;
}
@media (min-width: 768px) {
  .block-bordered .block-bordered-side {
    padding: 40px 15px 40px 40px;
  }
}
@media (min-width: 992px) {
  .block-bordered .block-bordered-side {
    padding: 50px 40px 50px 100px;
  }
}
.block-bordered .block-bordered-side.is-right {
  padding: 10px;
}
@media (min-width: 768px) {
  .block-bordered .block-bordered-side.is-right {
    padding: 40px 40px 40px 15px;
  }
}
@media (min-width: 992px) {
  .block-bordered .block-bordered-side.is-right {
    padding: 50px 100px 50px 40px;
  }
}

.img-description {
  margin-top: 25px;
  margin-bottom: 30px;
}
@media (min-width: 768px) {
  .img-description {
    margin-top: 50px;
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .img-description {
    margin-top: 70px;
    margin-bottom: 100px;
  }
}

i.footnote {
  font-size: var(--font-size-small);
  color: var(--accent-color);
  margin: 30px 0;
}

.damage-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.damage-info i.footnote {
  display: none;
}
@media (min-width: 992px) {
  .damage-info i.footnote {
    display: block;
  }
}

.damage-description {
  margin-bottom: 50px;
}
@media (min-width: 768px) {
  .damage-description {
    margin-bottom: 50px;
  }
}
@media (min-width: 992px) {
  .damage-description {
    margin-bottom: 120px;
  }
}

.damage-button-block {
  margin-top: 30px;
}
@media (min-width: 768px) {
  .damage-button-block {
    margin-top: 50px;
  }
}
@media (min-width: 992px) {
  .damage-button-block {
    margin-top: 100px;
  }
}

.save-live-description {
  margin: 30px 0 20px;
  padding: 0;
}

.contact h3 {
  margin: 30px 0;
}

@media (min-width: 992px) {
  .phone-block {
    display: flex;
  }
}
.phone-block i {
  display: block;
  font-size: var(--font-size-small);
  margin-bottom: 30px;
}
@media (min-width: 992px) {
  .phone-block i {
    margin-bottom: 0;
    margin-right: 100px;
  }
}
.phone-block span {
  display: inline-grid;
}
@media (min-width: 992px) {
  .phone-block span {
    display: block;
  }
}

.contact-img-wrapper {
  margin: 50px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
@media (min-width: 992px) {
  .contact-img-wrapper {
    margin: 0 0 0 50px;
    height: 100%;
  }
}
.contact-img-wrapper img {
  width: 100%;
  object-fit: cover;
  object-position: center;
}
@media (min-width: 992px) {
  .contact-img-wrapper img {
    width: 100%;
    height: 100%;
  }
}

.save-live-button-block {
  margin-top: 30px;
}
@media (min-width: 992px) {
  .save-live-button-block {
    margin-top: 80px;
  }
}

.u-text-center {
  text-align: center;
}

.u-accent-color {
  color: var(--accent-color);
}

.u-img-fluid {
  max-width: 100%;
  height: auto;
}

/*# sourceMappingURL=styles.css.map */
